{% if 'pelican.plugins.search' in PLUGINS %}
  <script>
    window.loadStorkIndex = async (input_obj) => {
      input_obj.disabled = true;
      input_obj.placeholder = 'Downloading index file, please wait ...'
      {% if not STORK_VERSION %}
      await stork.initialize("{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stork/stork.wasm")
      {% endif %}
      await stork.register("sitesearch", "{{ SITEURL }}/search-index.st", { showProgress: false });
      input_obj.placeholder = 'Search ...'
      input_obj.disabled = false;
    }
  </script>
  {% if STORK_VERSION %}
  <script src="https://files.stork-search.net/releases/v{{ STORK_VERSION }}/stork.js"></script>
  {% else %}
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stork/stork.js"></script>
  {% endif %}
{% endif %}
