/*

VIM Style

*/


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #fff;
  background: #333333;
}

.hljs-comment,
.hljs-quote {
  color: #96CBE7;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #EEE698;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #F1A4A2;
}

.hljs-string,
.hljs-doctag {
  color: #F1A4A2;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #AFF8A2;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #AFF8A2;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #fff;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #F1A4A2;
}

.hljs-symbol,
.hljs-bullet {
  color: #fff;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #AFF8A2;
}

pre code.hljs.plain {
  background: #000;
  word-wrap:break-word;
}

.post .post-content code.plain {
    background: #000;
    word-wrap: break-word;
    word-break: normal;
    color: white;
    display: block;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    font-size: 70%;
    padding: 0.8rem;
    line-height: 1.45;
    border: 0;
    border-radius: 3px;
}

.hljs-deletion {
  background: #EEE698;
}

.hljs-addition {
  background: #EEE698;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
